.App {
  text-align: center;
}

.home-login {
  
  margin: 10px, 50px;
}

.flex {
  display: flex;
}

.flex2 {
  display: flex;
  flex-direction: row;
}
.footer {
  color: white;
  background-color: #0b2811;
}